<h3 id="title-second-part-1">Personalized and custom jewerly <span id="small-title">See more</span></h3><br>
<div class="container">
  <div class="row">
    <div class="col">
      <a href="https://www.etsy.com/listing/454120266/coordinate-bracelet-coordinate-bangle?ref=hp_merch_co-5&pro=1image-13">
      <img  src="../assets/img/image-12.jpg"  alt="picture"></a><br>
      <h4>Coordinate Bracelet</h4>
      <p>CaitlynMinimalist</p>
      <app-stars></app-stars><span id="nb">(53,500)</span>
      <p id="price"> $34.30 </p>
    </div>
    <div class="col">
      <a href="https://www.etsy.com/listing/481723158/self-care-index-a-pocket-guide-for?ref=hp_prns">
      <img  src="../assets/img/image-13.jpg"  alt="picture"></a>
      <h4>Sideways Monogram</h4>
      <p>FineJewerlySavenko</p>
      <app-stars></app-stars><span id="nb">(283)</span>
      <p id="price"> $525.00 </p>
    </div>
    <div class="col">
      <a href="https://www.etsy.com/listing/228425809/tiny-gemstone-or-diamond-stacking-ring?ref=hp_merch_co-6">
      <img  src="../assets/img/image-14.jpg"  alt="picture"></a>
      <h4>Tiny Gemstone</h4>
      <p>LilianGinebra</p>
      <app-stars></app-stars><span id="nb">(1615)</span>
      <p id="price"> $72.00 </p>
    </div>

    <div class="col">
      <a href="https://www.etsy.com/listing/276448272/mothers-day-gift-necklace-for-mom?ref=internal_similar_listing_bot-4&pro=1">
      <img  src="../assets/img/image-15.jpg"  alt="picture"></a>
      <h4>Mother's Day Gift</h4>
      <p>delezhen</p>
      <app-stars></app-stars><span id="nb">(29280)</span>
      <p id="price"> $26.00 </p>
    </div>
    <div class="col">
      <a href="https://www.etsy.com/listing/501800638/tiny-round-druzy-pendant-necklace-gold?ref=internal_similar_listing_bot-9">
      <img  src="../assets/img/image-16.jpg"  alt="picture"></a>
      <h4>Pendant Necklace</h4>
      <p>GLDNxLayeredAndLong</p>
      <app-stars></app-stars><span id="nb">(59220)</span>
      <p id="price"> $34.00 </p>
    </div>
    <div class="col">
      <a href="https://www.etsy.com/listing/701630113/purple-dragon-vein-agate-bracelet-dragon?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=&ref=sc_gallery-1-7&plkey=b8f42e232ae53b62e4c4eb07df6e52a045d687ce%3A701630113&pro=1&frs=1">
      <img  src="../assets/img/image-17.jpg"  alt="picture"></a>
      <h4>Purple Dragon Bracelet</h4>
      <p>EarthlyGiftsCo</p>
      <app-stars></app-stars><span id="nb">(24,769)</span>
      <p id="price"> $14.00 </p>
    </div>
  </div>
</div><br>

<h3 id="title-second-part-2">Shop for gifts <span id="small-title">See more</span></h3>
<div class="container">
  <div class="row">
    <div class="col">
      <a href="https://www.etsy.com/featured/womens-fashion?ref=hp_g">
      <img  src="https://i.etsystatic.com/5197257/c/1082/859/63/100/il/79b1f4/1640214929/il_340x270.1640214929_1l0b.jpg"  alt="picture"></a>
      <h4>Women's fashion</h4>
    </div>
    <div class="col">
      <a href="https://www.etsy.com/featured/womens-fashion?ref=hp_g">
      <img  src="https://i.etsystatic.com/5197257/c/1082/859/63/100/il/79b1f4/1640214929/il_340x270.1640214929_1l0b.jpg"  alt="picture"></a>
      <h4>Etsy weddings</h4>
    </div>
    <div class="col">
      <a href="https://www.etsy.com/featured/weddings?ref=hp_g">
      <img  src="https://i.etsystatic.com/5197257/c/1082/859/63/100/il/79b1f4/1640214929/il_340x270.1640214929_1l0b.jpg"  alt="picture"></a>
      <h4>Women's fashion</h4>
    </div>

    <div class="col">
      <a href="https://www.etsy.com/featured/womens-fashion?ref=hp_g">
      <img  src="https://i.etsystatic.com/5197257/c/1082/859/63/100/il/79b1f4/1640214929/il_340x270.1640214929_1l0b.jpg"  alt="picture"></a>
      <h4>Women's fashion</h4>
    </div>
    <div class="col">
      <a href="https://www.etsy.com/featured/womens-fashion?ref=hp_g">
      <img  src="https://i.etsystatic.com/5197257/c/1082/859/63/100/il/79b1f4/1640214929/il_340x270.1640214929_1l0b.jpg"  alt="picture"></a>
      <h4>Women's fashion</h4>
    </div>
    <div class="col">
      <a href="https://www.etsy.com/featured/womens-fashion?ref=hp_g">
      <img  src="https://i.etsystatic.com/5197257/c/1082/859/63/100/il/79b1f4/1640214929/il_340x270.1640214929_1l0b.jpg"  alt="picture"></a>
      <h4>Women's fashion</h4>
    </div>
  </div>
</div><br>
