#link1 {
  margin-left: 10em;
  color: black;
  font-weight: lighter;
  font-size: 4;
  font-size: 13px;
}

#link2 {
  margin-left: 5em;
  color: black;
  font-weight: lighter;
  font-size: 13px;
}
#link3 {
  margin-left: 5em;
  color: black;
  font-weight: lighter;
  font-size: 13px;
}
#link4 {
  margin-left: 5em;
  color: black;
  font-weight: lighter;
  font-size: 13px;
}
#link5 {
  margin-left: 5em;
  color: black;
  font-weight: lighter;
  font-size: 13px;
}
#link6 {
  margin-left: 5em;
  color: black;
  font-weight: lighter;
  font-size: 13px;
}
#link7 {
  margin-left: 5em;
  color: black;
  font-weight: lighter;
  font-size: 13px;
}
#link8 {
  margin-left: 5em;
  color: black;
  font-weight: lighter;
  font-size: 13px;
}

#line1 {
  font-family: "Optima", sans-serif;
  letter-spacing: 0.5px;
  border: 1px;
  height: 10em;
  width: 42em;
  margin-left: 1em;
  margin-top: 10px;
  text-align: center;
}

h1 {
  font-size: 32px;
}

#nav2 {
  border-bottom-style: solid;
  border-width: 2.2px;
  border-color: #dddbdb;
  background-color: white !important;
  padding-bottom: 0;
  position: relative;
  padding-left: 0;
  padding-right:0;
}
