<nav id="nav2" class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <a class="nav-link" id="link1" href="https://www.etsy.com/c/jewelry-and-accessories?ref=catnav-10855">Jewerly & Accessories<span class="sr-only">(current)</span></a>
      <a class="nav-link" id="link2"  href="https://www.etsy.com/c/clothing-and-shoes?ref=catnav-10923">Clothing & Shoes</a>
      <a class="nav-link" id="link3"  href="https://www.etsy.com/c/home-and-living?ref=catnav-891">Home & Living</a>
      <a class="nav-link" id="link4" href="https://www.etsy.com/c/wedding-and-party?ref=catnav-10983">Wedding & Party</a>
      <a class="nav-link" id="link5" href="https://www.etsy.com/c/toys-and-entertainment?ref=catnav-11049">Toys & Entertainment</a>
      <a class="nav-link" id="link6" href="https://www.etsy.com/c/art-and-collectibles?ref=catnav-66">Art & Collectibles</a>
      <a class="nav-link" id="link7" href="https://www.etsy.com/c/craft-supplies-and-tools?ref=catnav-562">Vintage</a>
      <a class="nav-link" id="link8" href="https://www.etsy.com/gift-guides?ref=gift_guide_nav_promo"><img src="../assets/img/gift.png" height="13px;" alt=""> Gifts</a>
    </ul>
  </div>
  </nav><br>
  <div class="container">
    <div class="row">
      <div id="line1" class="col-xs-12">
        <h1>If it's handcrafted, vintage, custom, or unique, it's on Etsy.</h1>
      </div>
    </div>
  </div>
<app-home-first-part></app-home-first-part>
