#link1 {
  margin-left: 8em;
  color: black;
  font-weight: lighter;
  font-size: 4;
  font-size: 14px;
}

#link2 {
  margin-left: 5em;
  color: black;
  font-weight: lighter;
  font-size: 14px;
}
#link3 {
  margin-left: 5em;
  color: black;
  font-weight: lighter;
  font-size: 14px;
}
#link4 {
  margin-left: 5em;
  color: black;
  font-weight: lighter;
  font-size: 14px;
}
#link5 {
  margin-left: 5em;
  color: black;
  font-weight: lighter;
  font-size: 14px;
}
#link6 {
  margin-left: 5em;
  color: black;
  font-weight: lighter;
  font-size: 14px;
}
#link7 {
  margin-left: 5em;
  color: black;
  font-weight: lighter;
  font-size: 14px;
}
#link8 {
  margin-left: 5em;
  color: black;
  font-weight: lighter;
  font-size: 14px;
}

#line1 {
  font-family: "Optima", sans-serif;
  letter-spacing: 0.5px;
  border: 1px;
  height: 20em;
  width: 42em;
  margin-left: 20%;
  margin-top: 10px;
}

h1 {
  font-size: 32px;
}

#nav2 {
  border-bottom-style: solid;
  border-width: 2.2px;
  border-color: #dddbdb;
  background-color: white !important;
  padding-bottom: 0;
  position: relative;
}
