#title-second-part {
  text-align: center;
}

img {
  height: 130px;
  width: 160px;
}

.container {
  margin-left: 9em;
}

h4 {
  font-size: 15px;
  line-height: 1px;
  margin-bottom: 9px;
  margin-top: 10px;
  font-weight: lighter;
}

p {
  font-weight: lighter;
  font-size: 11px;
  margin-bottom: 0;
}

#price {
  font-weight: bold;
  font-size: 15px;
}

#nb {
  font-size: 11px;
}
