<h3 id="title-second-part">Popular right now</h3><br>
<div class="container">
  <div class="row">
    <div class="col">
      <a href="https://www.etsy.com/listing/481723158/self-care-index-a-pocket-guide-for?ref=hp_prns">
      <img  src="../assets/img/image-1.jpg"  alt="picture"></a><br>
      <h4>Self Care Index</h4>
      <p>FreePeriod Press</p>
      <app-stars></app-stars><span id="nb">(24,769)</span>
      <p id="price"> $6.00 </p>
    </div>
    <div class="col">
      <a href="https://www.etsy.com/listing/481723158/self-care-index-a-pocket-guide-for?ref=hp_prns">
      <img  src="../assets/img/image-2.jpg"  alt="picture"></a>
      <h4>Cactus Club</h4>
      <p>FreePeriod Press</p>
      <app-stars></app-stars><span id="nb">(90,769)</span>
      <p id="price"> $6.00 </p>
    </div>
    <div class="col">
      <a href="https://www.etsy.com/listing/481723158/self-care-index-a-pocket-guide-for?ref=hp_prns">
      <img  src="../assets/img/image-3.jpg"  alt="picture"></a>
      <h4>Cats Art</h4>
      <p>PetsArt</p>
      <app-stars></app-stars><span id="nb">(240)</span>
      <p id="price"> $13.00 </p>
    </div>

    <div class="col">
      <a href="https://www.etsy.com/listing/481723158/self-care-index-a-pocket-guide-for?ref=hp_prns">
      <img  src="../assets/img/image-4.jpg"  alt="picture"></a>
      <h4>Necklaces Bella</h4>
      <p>LiliaJewerly</p>
      <app-stars></app-stars><span id="nb">(3,098)</span>
      <p id="price"> $26.00 </p>
    </div>
    <div class="col">
      <a href="https://www.etsy.com/listing/504012721/moon-phases-wall-art-celestial-printable?ref=hp_prn&bes=1">
      <img  src="../assets/img/image-5.jpg"  alt="picture"></a>
      <h4>Moon Phases Wall Art</h4>
      <p>MimiDesignPrints</p>
      <app-stars></app-stars><span id="nb">(239)</span>
      <p id="price"> $5.36 </p>
    </div>
    <div class="col">
      <a href="https://www.etsy.com/listing/489500537/personalized-zip-code-pillow-custom-zip?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=&ref=sr_gallery-1-40&bes=1&col=1">
      <img  src="../assets/img/image-6.jpg"  alt="picture"></a>
      <h4>Pillow Zip</h4>
      <p>DesignPillow</p>
      <app-stars></app-stars><span id="nb">(24,769)</span>
      <p id="price"> $49.00 </p>
    </div>
  </div>
</div>
