<app-nav-bar></app-nav-bar>
<app-nav-bar-2></app-nav-bar-2>
<hr>
<h2>Our Products</h2>

<div class="container">
  <div class="row">
    <div *ngFor="let product of products | async" class="panel panel-default"><br>
      <img (click)="goToDetailPage(product)"  src={{product.image}}  alt="picture"><br>
      <h4>{{product.title}}</h4>
      <p>{{product.company}}</p>
      <app-stars></app-stars><span id="nb">({{product.review}})</span>
      <p id="price"> {{product.price}}</p>
      <br><br>
      <div *ngIf="currentRoute === '/admin/marketplace'">
        <app-edit-product [selectedProduct]="product"></app-edit-product>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <a class="nav-link" href="https://etsy-clone-5a30f.firebaseapp.com/admin" style="color: black;">Go Back to Admin Interface</a>
</div>
<app-second-footer></app-second-footer>
