
  <nav id="nav" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img id="etsyLogo" src="../assets/img/Etsy-Logo.png" class="d-inline-block align-top" alt="Etsy Logo">
    <svg id="hamburger-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path d="M20,6H4A1,1,0,1,1,4,4H20A1,1,0,0,1,20,6Z"></path><path d="M20,13H4a1,1,0,0,1,0-2H20A1,1,0,0,1,20,13Z"></path><path d="M20,20H4a1,1,0,0,1,0-2H20A1,1,0,0,1,20,20Z"></path></svg>
    <span class="catnav-browse-btn nav-icon vertical-align-middle child-hover-underline">Browse</span>
  </a>
</nav>


    <div class="row">
      <div class="col-xs-12">

    </div>
  </div>
