#nav {
  border-color: #dddbdb;
  color: #595959;
  padding-bottom: 0.5em;
  position: relative;
  padding-left: 0;
  padding-right: 0;

}

.bg-light {
    background-color: white!important;
}

/* .browse {
  color: #595959;
  margin-left: 6px;
  vertical-align: middle;
  font-size: 16px;
  position: fixed;
} */

#etsyLogo {
  float: left;
  height: 46px;
  margin: 0;
  position: absolute;
  padding-left: 8%;
}

#sell-on-etsy {
  color: black;
  font-size: 15px;
  padding-top: 32px;
  position: absolute;
  padding-left: 67.5%;
  font-weight: lighter;
}


#register {
  color: black;
  font-size: 15px;
  padding-top: 32px;
  padding-left: 73.5%;
  position:absolute;
  font-weight: lighter;
}

.form-inline {
  padding-left: 14%;
  padding-top: 39px;
  position: absolute;
}

#sign-in {
  position: absolute;
  margin-left: 78%;
  margin-top: 18px;
  font-size: 14px;
}

#sign-in:hover {
  background-color: black;
}

.icon-discover {
  position: absolute;
  margin-left: 82.5%;
  margin-top: 15px;
}

.icon-cart {
  margin-right: 9.9%;
  margin-top: 29px;
  position: relative;
}

#icone-links {
  padding-top: 25px;
  padding-left: 73.5%;
  position: absolute;
}
