<nav id="nav" class="navbar navbar-light bg-light">
<a class="navbar-brand" href="https://www.etsy.com/?ref=lgo">
  <img id="etsyLogo" src="../assets/img/Etsy-Logo.png" class="d-inline-block align-top" alt="Etsy Logo">
</a>
<form class="form-inline">
   <input class="form-control mr-sm-0" style="width:22em; height:2em; background-color: rgb(249, 249, 248);" type="search" placeholder="Search for items or shops" aria-label="Search">
   <button class="btn btn-dark my-2 my-sm-0"style=" width:5.4em; border-radius:0.1em; font-size:14px; background-color:black; height:32px; " type="submit">Search</button>
 </form>
<a id="sell-on-etsy" class="sell-on-etsy-trigger" href="https://www.etsy.com/sell?ref=hdr&from_page=https%3A%2F%2Fwww.etsy.com%2F%3Fref%3Dlgo">
<span class="sell">
  Sell on Etsy
</span>
</a>
<a id="register" class="register" href="https://www.etsy.com/join?ref=hdr&amp;from_page=https%3A%2F%2Fwww.etsy.com%2F">
    Register
</a>
<button id="sign-in" type="button" class="btn btn-outline-dark">Sign in</button>
<!-- Small Screen Nav -->
<!-- <svg id="hamburger-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path d="M20,6H4A1,1,0,1,1,4,4H20A1,1,0,0,1,20,6Z"></path><path d="M20,13H4a1,1,0,0,1,0-2H20A1,1,0,0,1,20,13Z"></path><path d="M20,20H4a1,1,0,0,1,0-2H20A1,1,0,0,1,20,20Z"></path></svg>
<span class="browse">Browse</span> -->
<span class="icon-discover"> Discover</span>
<img src="../assets/img/malle.png" style="height:30px;" alt="icone">
</nav>


  <div class="row">
    <div class="col-xs-12">

  </div>
</div>
