
  <nav id="nav" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="https://www.etsy.com/?ref=lgo">
    <img id="etsyLogo" src="../assets/img/Etsy-Logo.png" class="d-inline-block align-top" alt="Etsy Logo">
    <svg id="hamburger-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path d="M20,6H4A1,1,0,1,1,4,4H20A1,1,0,0,1,20,6Z"></path><path d="M20,13H4a1,1,0,0,1,0-2H20A1,1,0,0,1,20,13Z"></path><path d="M20,20H4a1,1,0,0,1,0-2H20A1,1,0,0,1,20,20Z"></path></svg>
    <span class="browse">Browse</span>
  </a>
  <a id="sell-on-etsy" class="sell-on-etsy-trigger" href="https://www.etsy.com/sell?ref=hdr&from_page=https%3A%2F%2Fwww.etsy.com%2F%3Fref%3Dlgo">
  <span class="sell">
    Sell on Etsy
  </span>
  </a>
</nav>


    <div class="row">
      <div class="col-xs-12">

    </div>
  </div>
