<app-footer-img></app-footer-img>
<br><br><h3 id="title-1">Recent reviews from happy people</h3><br>
<div class="container">
  <div class="row">
    <div id="col-1" class="col-4">
      <div class="box-model">
        <span id="top"><img id="profil-1" src="../assets/img/profil1.jpg" alt="profil image"></span>
        <p id="line-1"><span id="bold">matbay</span> wrote on June 10</p>
        <div class="stars">
          <app-stars></app-stars>
        </div>
        <p id="line-2-">Item just as described and fits q-tips perfectly, thank you</p>
        <img src="../assets/img/profile1-2.jpg"  style="width: 19em; height:14em; padding-left: 10%;" alt="profil image">
        <a href="https://www.etsy.com/listing/107127707/concrete-q-tip-holder-concrete-container?ref=hp_sr">
        <small><p id="link">Concrete Q-Tip Holder, Concrete Container</p></small></a>
      </div>
    </div>
    <div id="col-2" class="col-4">
      <div class="box-model">
        <span id="top"><img id="profil-2" src="../assets/img/profil2.jpg" alt="profil image"></span>
        <p id="line-1"><span id="bold">Lara</span> wrote on June 10</p>
        <div class="stars">
          <app-stars></app-stars>
        </div>
        <span id="li2-"><p>Very fast Delivery and super nice crocodile. THANK YOU!!!</p></span>
        <img src="../assets/img/profil2-2.jpg"  style="width: 19em; height:14em; padding-left: 10%;" alt="profil image">
        <a href="https://www.etsy.com/listing/107127707/concrete-q-tip-holder-concrete-container?ref=hp_sr">
        <small><p id="link">Ceramic Crocodile Miniature, Crocodile Totem, Ceramic</p></small></a>
      </div>
    </div>
    <div id="col-3" class="col-4">
      <div class="box-model">
        <span id="top"><img id="profil-3" src="../assets/img/profil3.jpg" alt="profil image"></span>
        <p id="line-1"><span id="bold">joharrison80</span> wrote on June 13</p>
        <div class="stars">
          <app-stars></app-stars>
        </div>
        <span id="line-2">It’s just gorgeous. Thank you.</span>
        <img src="../assets/img/profil3-2.jpg"  style="width: 19em; height:14em; padding-left: 10%;" alt="profil image">
        <a href="https://www.etsy.com/listing/107127707/concrete-q-tip-holder-concrete-container?ref=hp_sr">
        <small><p id="link">Moonstone deco ring in brass</p></small></a>
      </div>
    </div>
  </div>
</div>
