<div class="container">
  <div class="row">
    <div id="box-model" class="col-xl-8">
        <a href="https://www.etsy.com/featured/TV?ref=primary_hero">
        <img id="box-first" src="../assets/img/home-carroussel.jpg" alt="picture"></a>
        <br><br><br><br>  <span id="text"><p>Magical pieces</p> <p>for the make-</p><p>believers.</p><p id="small-line">Shop kid staples > </p></span>
    </div>
    <div class="col-xl-2">
      <a href="https://www.etsy.com/featured/TV?ref=primary_hero">
      <img id="box-second" src="../assets/img/home-page.png"  alt="picture"></a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <img id="line-third" src="../assets/img/links.png" alt="picture">
    </div>
  </div>
</div>
