
<app-nav-bar></app-nav-bar>
<app-nav-bar-2></app-nav-bar-2>
<hr>
<div class="container">
  <a href="{{(productToDisplay | async)?.url}}">
  <img  src="{{(productToDisplay | async)?.image}}"  alt="picture"><br></a>
  <p>{{(productToDisplay | async)?.title}}</p>
  {{(productToDisplay | async)?.company}}
  <app-stars></app-stars><span id="nb">({{(productToDisplay | async)?.review}})</span>
  <p id="price"> {{(productToDisplay | async)?.price}}</p>
  <br><br>
  <p>{{(productToDisplay | async)?.description}}</p>
</div>
<div class="container">
  <a href="https://etsy-clone-5a30f.firebaseapp.com/admin/marketplace">All Products</a>
</div>
<app-second-footer></app-second-footer>
